# Xcode / build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
